@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div>
	<div class="row">
		<div id="gameInfo" class="col-md-12 x">
			<span>X's Turn!</span>
			<input type="button" value="Reset" class="btn reset" onclick="resetBoard()">
		</div>
	</div>
	<div class="row">
		<div id="gameGrid" class="col-md-12" style="white-space: nowrap;">
			<div>
				<input class="piece" value="" readonly="readonly">
				<input class="piece" value="" readonly="readonly">
				<input class="piece" value="" readonly="readonly">
			</div>
			<div>
				<input class="piece" value="" readonly="readonly">
				<input class="piece" value="" readonly="readonly">
				<input class="piece" value="" readonly="readonly">
			</div>
			<div>
				<input class="piece" value="" readonly="readonly">
				<input class="piece" value="" readonly="readonly">
				<input class="piece" value="" readonly="readonly">
			</div>
		</div>
	</div>
</div>
